/* Fonts */
@import "@fontsource-variable/outfit/wght.css";
@import "@fontsource-variable/nunito-sans/wght.css";

/* Roots */
html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
