/* *********************************************
* Fonts
********************************************* */
@import "@fontsource-variable/outfit/wght.css";
@import "@fontsource-variable/nunito-sans/wght.css";

/* *********************************************
* Styles
********************************************* */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
